@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
	font-weight: bold;
	font-family: 'Roboto';
	background-color: #000;
	color: #fff;
}

div#code a {
	float: right;
	background-color: #444;
}

a {
	color: #fff;
	cursor: pointer;
}

a:hover {
	text-shadow: 0 0 10px #fff;
}

#code {
	word-wrap: break-word;
	font-family: 'Source Code Pro';
	background-color: #222;
	padding: 8px;
	border-radius: 8px;
}

span#code,
div#code a {
	padding: 4px;
	border-radius: 4px;
}